In [1]:
import psycopg2
import pandas as pd

connection = psycopg2.connect("dbname=Teleco user=postgres password=Leul@123")

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Load data into a pandas DataFrame
df = pd.read_sql_query(query, connection)

print(df.columns)

# Top Handsets and Manufacturers

# -- Top 10 handsets
# Query the data
query = """SELECT "HandsetType", COUNT(*) AS usage_count
FROM xdr_data
GROUP BY Handset
ORDER BY usage_count DESC
LIMIT 10;"""

# Load data into a pandas DataFrame
df = pd.read_sql_query(query, connection)

# Aggregate Metrics (Sessions, Duration, Total Download/Upload)

query = """ SELECT
    COUNT( "Bearer Id") AS total_sessions,
    AVG("duration") AS avg_duration,
    SUM("Totaldl") AS total_download,
    SUM("Totalul") AS total_upload
FROM xdr_data;""import psycopg2

# Univariate and Bivariate Analysis:
# •	For univariate metrics (e.g., session durations or downloads):
query = " SELECT SUM("duration") AS tot_duration, COUNT(*) AS frequency
FROM xdr_data
ORDER BY tot_duration;"

print("query")

# •	For bivariate metrics (e.g., duration vs downloads):
query = " SELECT "duration", SUM("Totaldl") AS total_download
FROM xdr_data
GROUP BY duration;"

print("query")

""" SELECT "Bearer Id" , "Start", "Start ms", "End", "End ms",
"Dur. (ms)", "IMSI", "MSISDN/Number", "IMEI", "Last Location Name", 
"Avg RTT DL (ms)", "Avg RTT UL (ms)", "Avg Bearer TP DL (kbps)", 
"Avg Bearer TP UL (kbps)", "TCP DL Retrans. Vol (Bytes)", "TCP UL Retrans. Vol (Bytes)", 
"DL TP < 50 Kbps (%)", "50 Kbps < DL TP < 250 Kbps (%)", "250 Kbps < DL TP < 1 Mbps (%)",
"DL TP > 1 Mbps (%)", "UL TP < 10 Kbps (%)", "10 Kbps < UL TP < 50 Kbps (%)", "50 Kbps < UL TP < 300 Kbps (%)",
"UL TP > 300 Kbps (%)", "HTTP DL (Bytes)", "HTTP UL (Bytes)", "Activity Duration DL (ms)",
"Activity Duration UL (ms)", "Dur. (ms).1", "Handset Manufacturer", "Handset Type",
"Nb of sec with 125000B < Vol DL", "Nb of sec with 1250B < Vol UL < 6250B",
"Nb of sec with 31250B < Vol DL < 125000B", "Nb of sec with 37500B < Vol UL", 
"Nb of sec with 6250B < Vol DL < 31250B", "Nb of sec with 6250B < Vol UL < 37500B", 
"Nb of sec with Vol DL < 6250B", "Nb of sec with Vol UL < 1250B", "Social Media DL (Bytes)", 
"Social Media UL (Bytes)", "Google DL (Bytes)", "Google UL (Bytes)", "Email DL (Bytes)", 
"Email UL (Bytes)", "Youtube DL (Bytes)", "Youtube UL (Bytes)", "Netflix DL (Bytes)", 
"Netflix UL (Bytes)", "Gaming DL (Bytes)", "Gaming UL (Bytes)", "Other DL (Bytes)", "Other UL (Bytes)", 
"Total UL (Bytes)", "Total DL (Bytes)"
"	FROM xdr_data; """
# query = "SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';"

# Execute the query
cursor.execute(query)

# Fetch all rows from the query result
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row, cursor.fetchone())

# Close the cursor and connection
cursor.close()
connection.close()

SyntaxError: invalid syntax (111325397.py, line 51)